//VARIÁVEIS
    //Cores
    $azulCla: #F2F8F8;
    $azulEsc: #0B6F98;

    //Tamanhos de tela
    $XSmax: 575px;
    $SMmin: 576px;
    $SMmax: 767px;
    $MDmin: 768px;
    $MDmax: 991px;
    $LGmin: 992px;
    $LGmax: 1200px;
    $XLmin: 1201px;

//MIXINS
    //Mobile
    @mixin size($minHeight: false, $maxHeight: false) {
        @if $minHeight == false and $maxHeight == false {
            @content;
        } @else {
            @if $maxHeight == false {
                @media only screen and (min-width : $minHeight) {
                    @content;
                }
            } @else {
                @if $minHeight == false {
                    @media only screen and (max-width : $maxHeight) {
                        @content;
                    }
                } @else {
                    @media only screen and (min-width : $minHeight) and (max-width : $maxHeight) {
                        @content;
                    }
                }
            }
        }
    }

    //Transition
    @mixin transition($time) {
        -webkit-transition: $time;
        -moz-transition: $time;
        -ms-transition: $time;
        -o-transition: $time;
        transition: $time;
    }


    @mixin form() {
        form {
            .mauticform-errormsg {
                text-align: center;
                display: block;
                margin-top: -10px;
                margin-bottom: 10px;
                font-size: 12px;
            }

            .mauticform-message {
                text-align: justify;
                display: block;
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 12px;   
            }
            input:not([type=radio]):not([type=checkbox]),
            textarea,
            select {
                -webkit-appearance: none;
                appearance: none;
                -moz-appearance: none;
                background-color: rgba(0,0,0,0);
                color: $azulEsc;
                border: none;
                padding: 10px 20px;
                width: 100%;
                border-radius: 30px;
                margin-bottom: 10px;
                -webkit-box-shadow:
                    inset 2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                    inset -3px -3px 4px -1px #fff;
                box-shadow:
                    inset 2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                    inset -3px -3px 4px -1px #fff;
                font-weight: 100;
            }
            .mauticform-select {
                position: relative;
                &:before {
                    top: calc(50% - 10px);
                    right: 14px;
                    background-image: url(assets/img/BTseta.png);
                    background-size: cover;
                    background-position: center;
                    -webkit-transform: rotate(90deg) translateY(-50%);
                    -moz-transform: rotate(90deg) translateY(-50%);
                    -ms-transform: rotate(90deg) translateY(-50%);
                    -o-transform: rotate(90deg) translateY(-50%);
                    transform: rotate(90deg);
                    content: '';
                    display: block;
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    z-index: -1;
                }
            }
            input[type=radio],
            input[type=checkbox] {
                -webkit-appearance: none;
                appearance: none;
                -moz-appearance: none;
                display: inline-block;
                background-color: #FFF;
                width: 20px;
                height: 20px;
                padding: 0px !important;
                background-color: rgba(0,0,0,0);
                border-radius: 20px;
                -webkit-box-shadow:
                    inset 2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                    inset -3px -3px 4px -1px #fff;
                box-shadow:
                    inset 2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                    inset -3px -3px 4px -1px #fff;
                margin-right: 3px;
                position: relative;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        border-radius: 20px;
                        width: 10px;
                        height: 10px;
                        background-color: rgba(0,0,0,0);
                        top: 5px;
                        left: 5px;
                        -webkit-transition: 0.4s;
                        -moz-transition: 0.4s;
                        -ms-transition: 0.4s;
                        -o-transition: 0.4s;
                        transition: 0.4s;
                    }
                &:checked {
                    &:before {
                        background-color: $azulEsc;
                    }
                }
            }
            select {
                color: #757575;
                &.valor {
                    color: $azulEsc;
                }
            }
            textarea {
                outline: none;
                resize: none;
                height: 100px;
            }
            button {
                padding: 10px 20px;
                color: #FFF;
                border: none;
                border-radius: 30px;
                background: rgb(65,164,192);
                background: linear-gradient(133deg, rgba(65,164,192,1) 0%, rgba(24,115,152,1) 64%);
            }
        }        
    }


    @mixin titulos() {
        h2 {
            font-weight: 100;
            font-size: 48px;
            display: block;
            line-height: 54px;
            word-break: break-word;
            @include size(false, $SMmax) {
                font-size: 42px;
                display: block;
                line-height: 42px;
                text-align: center;
            }
            strong {
                font-weight: 300;
                display: block;
                -webkit-transform: inherit !important;
                -moz-transform: inherit !important;
                -ms-transform: inherit !important;
                -o-transform: inherit !important;
                transform: inherit !important;
            }
            span {
                display: inline;
            }
            &.sameline {
                display: inline-block;
                strong {
                    display: inline-block;
                }
            }
        }
        p {
            font-size: 20px;
            font-weight: 100;
            @include size(false, $MDmax) {
                text-align: justify;
            }
        }
    }