//Tags
preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

html {
    scroll-behavior: smooth;
}
body:not(.equipe) {
    #page {
        overflow-x: hidden;
    }
}

a,
a:hover,
a:visited,
a:active,
a:focus {
    color: inherit;
    text-decoration: inherit;
    outline: none;
}
input,
button,
select {
    outline: none;
    &:hover,
    &:focus {
        outline: none;
    }
}
img {
    max-width: 100%;
    height: auto;
    outline: none !important;
    user-select: none !important;
    &:focus {
        outline: none !important;
        user-select: none !important;
    }
}
.desktop,
.Desktop {
    @include size(false, $MDmax) {
        display: none !important;
    }
}

.mobile,
.Mobile {
    @include size($LGmin) {
        display: none !important;
    }
}
.row.full {
    min-height: 100vh;
    padding: 50px 0px;
    @include size(false, $SMmax) {
        min-height: auto;
        padding: 30px 0px;
    }
}

.linha {
    max-width: none;
    height: 8px;
    &.direita {
        float: right;
    }
    &.esquerda {
        float: left;
    }
}

.type,
.fade:not(.modal, .modal-backdrop) {
    opacity: 0;
    span {
        display: inline;
    }
    &.fadein {
        opacity: 1;
    }
}

*[data-enllax-ratio] {
    @include size(false, $SMmax) {
        -webkit-transform: inherit !important;
        -moz-transform: inherit !important;
        -ms-transform: inherit !important;
        -o-transform: inherit !important;
        transform: inherit !important;
    }
}
.linha {
    background-color: $azulEsc;
    display: block;
    position: relative;
    padding-left: 0px;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    &:before {
        position: absolute;
        content: "";
        display: block;
        width: 4000px;
        height: 2px;
        background-color: $azulEsc;
        top: 1.5px;
        right: 160%;
    }
}

.whatstrigger {
    cursor: pointer;
}

.modalagendamento.modal {
    .modal-content {
        background-color: rgba(0,0,0,0);
        border: none;
        position: relative;
        .button {
            position: absolute;
            right: 10px;
            top: 10px;
            max-width: 20px;
            opacity: 0.75;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.paginacao {
  text-align: center;
  margin-top: 50px;
  .page-numbers {
        font-size: 0px;
        background-color: #0B6F98;
        opacity: 0.3;
        border: 1px;
        color: #FFF;
        width: 15px;
        height: 15px;
        border-radius: 50px;
        display: inline-block;
        -webkit-transition: 0.4s;
        transition: 0.4s;
       &:hover,
       &.current {
            background-color: $azulEsc;
            opacity: 1;
       }
       &.dots {
            background-color: rgba(0,0,0,0) !important;
            color: $azulEsc;
       }
       img {
            width: 18px;
            vertical-align: -5px;
       }
       &.next,
       &.prev {
            display: none;
       }
  }
}