//Tags
body {
    background-color: $azulCla;
    font-family: 'Roboto', sans-serif;
    color: $azulEsc;
    font-size: 16px;
    &.contato {
        background-image: url(assets/img/mapa.jpg);
        background-size: cover;
        background-position: center;
    }
    header {
        &#masthead {
            position: relative;
            .imgBG {
                position: absolute;
                &.ball {
                    max-width: none;
                    bottom: 8%;
                    opacity: 0.59;
                    height: 90%;
                    right: 6%;
                    -webkit-transition: 2.1s cubic-bezier(0.55, 0.09, 0.68, 0.53);
                    -moz-transition: 2.1s cubic-bezier(0.55, 0.09, 0.68, 0.53);
                    -ms-transition: 2.1s cubic-bezier(0.55, 0.09, 0.68, 0.53);
                    -o-transition: 2.1s cubic-bezier(0.55, 0.09, 0.68, 0.53);
                    transition: 2.1s cubic-bezier(0.55, 0.09, 0.68, 0.53);
                    @include size(false, $SMmax) {
                        width: 88vw;
                        height: auto;
                        top: 12%;
                        bottom: inherit;
                        left: 50%;
                        -webkit-transform: translateX(-50%) !important;
                        -moz-transform: translateX(-50%) !important;
                        -ms-transform: translateX(-50%) !important;
                        -o-transform: translateX(-50%) !important;
                        transform: translateX(-50%) !important;
                    }
                    &.small {
                        height: 0.2%;
                        width: auto;
                        right: 44.6%;
                        bottom: 34.17%;
                        opacity: 0;
                        @include size(false, $SMmax) {
                            // top: 0%;
                            // right: inherit;
                            left: 50%;
                            -webkit-transform: translateX(-50%) !important;
                            -moz-transform: translateX(-50%) !important;
                            -ms-transform: translateX(-50%) !important;
                            -o-transform: translateX(-50%) !important;
                            transform: translateX(-50%) !important;
                        }
                    }
                }
                &.header {
                    z-index: -1;
                    height: 95%;
                    right: 5%;
                    bottom: 8%;
                    max-width: none;
                    @include size(false, $SMmax) {
                        position: relative;
                        bottom: inherit;
                        margin-top: 58px;
                        margin-bottom: 20px;
                        margin-left: -23vw;
                        width: 120vw;
                        height: auto;
                        right: inherit;
                    }
                }
            }
            #searchform {
                position: fixed;
                width: 100%;
                left: 0px;
                top: 0px;
                background-color: rgba(242, 248, 248, 0.75);
                z-index: 10000000000;
                display: none;
                opacity: 0;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transition: 1s;
                &.open {
                    display: block;
                }
                &.show {
                    opacity: 1;
                }
                .backclose {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                .row {
                    height: 100vh !important;
                }
                form {
                    overflow: hidden;
                    width: 100%;
                    height: 50px;
                    border-radius: 50px;
                    background: rgba(255,255,255,0.9);
                    background: linear-gradient(135deg, rgba(255,255,255,0.9) 0%, rgba(244,245,245,0.9) 100%);
                    -webkit-box-shadow:
                        2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                        -3px -3px 4px -1px #fff,
                        3px 3px 12px 0px rgba(11,111,152,0.1);
                    -webkit-box-shadow:
                        2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                        -3px -3px 4px -1px #fff,
                        3px 3px 12px 0px rgba(11,111,152,0.1);
                    box-shadow:
                        -3px -3px 4px -1px #fff,
                        2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                        3px 3px 12px 0px rgba(11,111,152,0.1);
                        position: relative;
                        z-index: 10000000000000;
                        input {
                            position: absolute;
                            border: none;
                            &[type=text] {
                                width: 100%;
                                height: 100%;
                                padding: 10px 9% 10px 3%;
                                font-size: 18px;
                                font-weight: 300;
                                color: $azulEsc;
                            }
                            &[type=image] {
                                max-height: 50%;
                                right: 3%;
                                top: 50%;
                                -webkit-transform: translateY(-50%);
                                -moz-transform: translateY(-50%);
                                -ms-transform: translateY(-50%);
                                -o-transform: translateY(-50%);
                                transform: translateY(-50%);
                            }
                        }
                }
            }
            .menuFlutuante {
                position: fixed;
                width: 100%;
                z-index: 999;
                padding: 20px 0px;
                -webkit-transition: 0.15s;
                -moz-transition: 0.15s;
                -ms-transition: 0.15s;
                -o-transition: 0.15s;
                transition: 0.15s;
                @include size(false, $SMmax) {
                    background-color: rgba(242, 248, 248, 1);
                    -webkit-box-shadow: 2px 2px 10px -1px rgba(11, 111, 152, 0.2);
                    box-shadow: 2px 2px 10px -1px rgba(11, 111, 152, 0.2);
                    top: 0px;
                }
                @include size(false, $MDmax) {
                    padding: 0px !important;
                }
                &.open {
                    top: 0px;
                    @include size(false, $MDmax) {
                        padding: 0px;
                    }
                    @include size(false, $SMmax) {
                        background-color: rgba(242, 248, 248, 0.9);
                    }
                }
                .site-branding {
                    #logo {
                        white-space: nowrap;
                        display: block;
                        @include size(false, $MDmax) {
                            padding: 10px 0px;
                            text-align: center;
                        }
                        img.logo {
                            max-width: 75px;
                            display: inline-block;
                            @include size(false, 1300px) {
                                max-width: 56px;
                            }
                        }
                        .sp {
                            position: relative;
                            display: inline-block;
                            margin-left: -5px;
                            vertical-align: middle;
                            span {
                                position: relative;
                                white-space: nowrap;
                                font-weight: 300;
                                font-style: italic;
                                font-size: 34px;
                                letter-spacing: -3px;
                                text-transform: lowercase;
                                display: inline-block;
                                -webkit-transition: 0.2s;
                                -moz-transition: 0.2s;
                                -ms-transition: 0.2s;
                                -o-transition: 0.2s;
                                transition: 0.2s;
                                left: 0px;
                                @include size(false, 1300px) {
                                    font-size: 26px;
                                }
                                &:nth-child(1) {
                                    opacity: 1;
                                    position: relative;
                                }
                                &:nth-child(2) {
                                    opacity: 0;
                                    position: absolute;
                                }
                            }
                        }
                        &.short {
                            .sp {
                                margin-left: -5px;
                                span {
                                    &:nth-child(1) {
                                        opacity: 0;
                                        position: absolute;
                                    }
                                    &:nth-child(2) {
                                        opacity: 1;
                                        position: relative;
                                    }
                                }
                            }
                        }
                    }
                }
                #site-navigation {
                    position: relative;
                    z-index: 100000;
                    #menu-button {
                        display: none;
                        padding: 5px 20px;
                        margin: 0px;
                        background-color: $azulEsc;
                        color: #FFF;
                        border-radius: 50px;
                        font-size: 13px;
                        font-weight: 100;
                        border: none;
                        @include size(false, $MDmax) {
                            display: block;
                        }
                        @include size(false, $SMmax) {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            left: 0px;
                            top: 0px;
                            border-radius: 0px;
                        }
                    }
                    .menu-container {
                        position: relative;
                        -webkit-transition: 0.4s;
                        -moz-transition: 0.4s;
                        -ms-transition: 0.4s;
                        -o-transition: 0.4s;
                        transition: 0.4s;
                        opacity: 0;
                        left: 0px;
                        min-width: 270px;
                        display: block;
                        opacity: 1;
                        @include size(false, $MDmax) {
                            -webkit-box-shadow: 2px 2px 10px -1px rgba(11, 111, 152, 0.2);
                            box-shadow: 2px 2px 10px -1px rgba(11, 111, 152, 0.2);
                        }
                        @include size(false, $MDmax) {
                            position: absolute;
                            display: none;
                            opacity: 0;
                            top: 100%;
                        }
                        @include size($MDmin, $MDmax) {
                            left: 15px;
                            top: calc(100% + 5px);
                        }
                        &.open {
                            display: block;
                        }
                        &.show {
                            opacity: 1;
                        }
                        #primary-menu {
                            list-style-type: none;
                            padding: 0px;
                            margin: 0px;
                            background-color: rgba(242, 248, 248, 0.9);
                            overflow: visible;
                            list-style: none;
                            border-radius: 50px;
                            display: flex;
                            align-items: flex-start;
                            justify-content: space-around;
                            -webkit-box-shadow:
                                2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                                -3px -3px 4px -1px #fff;
                            box-shadow:
                                -3px -3px 4px -1px #fff,
                                2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                            @include size(false, $MDmax) {
                                display: block;
                                border-radius: 0px;
                                overflow: hidden;
                                -webkit-box-shadow: inherit;
                                box-shadow: inherit;
                            }
                            @include size($MDmin, $MDmax) {
                                border-radius: 10px;
                            }
                            @include size(false, $SMmax) {
                                background-color: $azulCla;
                            }
                            li {
                                overflow: visible;
                                font-size: 16px;
                                position: relative;
                                -webkit-transition: .2s ease-in-out;
                                -moz-transition: .2s ease-in-out;
                                -ms-transition: .2s ease-in-out;
                                -o-transition: .2s ease-in-out;
                                transition: .2s ease-in-out;
                                @include size(false, $LGmax) {
                                    font-size: 13px;
                                }
                                a {
                                    display: block;
                                    position: relative;
                                    letter-spacing: 0.2px;
                                    padding: 5px 10px;
                                    font-weight: 100;
                                    color: $azulEsc;
                                    -webkit-transition: .2s ease-in-out;
                                    -moz-transition: .2s ease-in-out;
                                    -ms-transition: .2s ease-in-out;
                                    -o-transition: .2s ease-in-out;
                                    transition: .2s ease-in-out;
                                    @include size(false, $SMmax) {
                                        padding: 10px;
                                    }
                                    &:hover {
                                        background-color: rgba(11, 111, 152, 0.9);
                                        color: $azulCla;
                                    }
                                }
                                &.menu-item-has-children {
                                    &.show {
                                        display: block;
                                        & > a {
                                            background-color: #006f9a;
                                            color: $azulCla;
                                        }
                                    }
                                    .sub-menu {
                                        background-color: rgba(242, 248, 248, 0.9);
                                        -webkit-box-shadow: 2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                                        box-shadow: 2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                                        position: absolute;
                                        left: 50%;
                                        text-align: center;;
                                        -webkit-transform: translateX(-50%);
                                        -moz-transform: translateX(-50%);
                                        -ms-transform: translateX(-50%);
                                        -o-transform: translateX(-50%);
                                        transform: translateX(-50%);
                                        -webkit-transition: 0.4s;
                                        -moz-transition: 0.4s;
                                        -ms-transition: 0.4s;
                                        -o-transition: 0.4s;
                                        transition: 0.4s;
                                        padding-left: 0px;
                                        list-style-type: none;
                                        border-radius: 10px;
                                        overflow: hidden;
                                        display: none;
                                        opacity: 0;
                                        @include size(false, $MDmax) {
                                            background-color: rgba(0, 0, 0, 0);
                                            -webkit-transform: inherit;
                                            -moz-transform: inherit;
                                            -ms-transform: inherit;
                                            -o-transform: inherit;
                                            transform: inherit;
                                            -webkit-transition: inherit;
                                            -moz-transition: inherit;
                                            -ms-transition: inherit;
                                            -o-transition: inherit;
                                            transition: inherit;
                                            position: relative;
                                            -webkit-box-shadow: inherit;
                                            box-shadow: inherit;
                                            left: inherit;
                                            border-radius: 0px;
                                            text-align: left;
                                            opacity: 1;
                                            display: none;
                                        }
                                        li {
                                            width: 250px;
                                            font-size: 0.9em;
                                            & > a {
                                                &:hover {
                                                    background-color: #5199b8;
                                                }
                                                @include size(false, $MDmax) {
                                                    padding-left: 20px;
                                                }
                                            }
                                            .sub-menu {
                                                border-radius: 0px;
                                                position: relative;
                                                li {
                                                    a {
                                                        color: $azulEsc;
                                                        &:hover {
                                                            background-color: #83b7cc;
                                                            color: #FFF;
                                                        }
                                                        @include size(false, $MDmax) {
                                                            padding-left: 40px;
                                                        }
                                                    }
                                                }
                                            }
                                            &.show {
                                                & > a {
                                                    background-color: #5199b8;
                                                }
                                            }
                                            @include size(false, $MDmax) {
                                                width: 100%;
                                            }
                                        }
                                        &.open {
                                            display: block;
                                        }
                                        &.show {
                                            opacity: 1;
                                            & > a {
                                                background-color: #5199b8;
                                                color: $azulCla;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .social {
                    .conteudo {
                        padding: 5px;
                        background-color: rgba(242, 248, 248, 0.9);
                        border-radius: 50px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-around;
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff;
                        box-shadow:
                            -3px -3px 4px -1px #fff,
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                        @include size(false, $MDmax) {
                            display: none;
                        }
                        a {
                            display: flex;
                            align-self: center;
                            @include size(false, $SMmax) {
                                display: none;
                            }
                        }
                        img {
                            max-width: 24px;
                            opacity: 0.45;
                            position: relative;
                            @include size(false, $LGmax) {
                                max-width: 19px;
                            }
                            @include transition(0.4s);
                            &:hover {
                                -webkit-transform: scale(1.1);
                                -moz-transform: scale(1.1);
                                -ms-transform: scale(1.1);
                                -o-transform: scale(1.1);
                                transform: scale(1.1);
                                opacity: 1;
                            }
                        }
                    }
                    .pesquisa {
                        cursor: pointer;
                        background-color: $azulEsc;
                        border-radius: 100px;
                        width: 34px;
                        height: 34px;
                        position: absolute;
                        right: 15px;
                        @include size(false, $MDmax) {
                            position: relative;
                            right: 0px;
                            margin: auto 0 auto auto;
                            width: 29px;
                            height: 29px;
                        }
                        img {
                            position: absolute;
                            max-width: 17px;
                            top: 50%;
                            left: 50%;
                            -webkit-transform: translate(-50%, -50%);
                            -moz-transform: translate(-50%, -50%);
                            -ms-transform: translate(-50%, -50%);
                            -o-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                            @include size(false, $LGmax) {
                                max-width: 15px;
                            }
                        }
                    }
                }          
            }
            &.home-header {
                .conteudoHeader {
                    h2 {
                        font-weight: 100;
                        font-size: 64px;
                        line-height: 62px;
                        margin-bottom: 30px;
                        text-transform: lowercase;
                        @include size(false, $MDmax) {
                            font-size: 48px;
                            line-height: 46px;
                        }
                        strong {
                            display: block;
                            font-weight: 300;
                            -webkit-transform: inherit !important;
                            -moz-transform: inherit !important;
                            -ms-transform: inherit !important;
                            -o-transform: inherit !important;
                            transform: inherit !important;
                            @include size(false, $SMmax) {
                                display: inline-block;
                            }
                        }
                    }

                    .linha {
                        margin: auto 0 auto auto;
                        margin-bottom: 30px;
                    }
                    button {
                        background-color: rgba(0,0,0,0);
                        border: none;
                        font-weight: 100;
                        color: $azulEsc;
                        font-size: 16px;
                        @include transition(0.4s);
                        &:hover {
                            text-decoration: underline dotted;
                        }
                        img {
                            margin-left: 5px;
                            max-width: 18px;
                            transform: inherit !important;
                        }
                    }
                }
            }
            &.site-header {}
        }
    }
    main#primary {
        &.site-main {
            section {
                padding: 120px 0px 100px;
                @include size(false, $MDmax) {
                    padding: 20px 0px;
                }

                &.especialidadealt {
                    margin-bottom: -10vh;
                    @include size(false, $MDmax) {
                        padding: 50px 0px;
                    }
                    &#preservacao {
                        z-index: 2;
                        img {
                            width: 120%;
                            margin-left: -7.5%;
                        }
                        @include size(false, $SMmax) {
                            .txt {
                                order: 2;
                            }
                            .anima {
                                order: 1;
                            }
                        }
                        @include size(false, $MDmax) {
                            margin-bottom: 0px;
                        }
                    }
                    &#endometriose {
                        z-index: 1;
                        img {
                            width: 120%;
                            margin-left: -10%;

                        }
                        @include size(false, $MDmax) {
                            margin-bottom: 0px;
                        }
                    }
                    &#telemedicina {
                        z-index: 1;
                        margin-bottom: 0vh;
                        img {
                            max-width: 100%;

                        }
                        @include size(false, $SMmax) {
                            .txt {
                                order: 2;
                            }
                            .anima {
                                order: 1;
                            }
                        }
                        @include size(false, $MDmax) {
                            margin-bottom: 0px;
                        }
                    }
                    .container {
                        @include size(false, $MDmax) {
                            height: auto;
                        }
                        button {
                            display: block;
                            margin: 20px 0px 20px auto;
                            padding: 5px 15px;
                            font-size: 14px;
                            color: #FFF;
                            text-transform: lowercase;
                            border: none;
                            border-radius: 30px;
                            background: rgb(65,164,192);
                            background: linear-gradient(133deg, rgba(65,164,192,1) 0%, rgba(24,115,152,1) 64%);
                        }
                        .txt {
                            position: relative;
                            z-index: 1;
                        }
                        .anima {
                            position: relative;
                            z-index: 0;
                        }
                        .row {
                            @include size(false, $MDmax) {
                                height: auto;
                            }
                            img {
                                max-width: none;
                                display: block;
                            }
                            @include titulos;
                        }
                    }
                }                
                &.especialidade {
                    padding: 0px;
                    @include size(false, $SMmax) {
                        * {
                            transform: inherit !important;
                        }
                    }
                    &#fiv {
                        @include size(false, $MDmax) {
                            margin-bottom: 0px;
                        }
                        .anima {
                            img {
                                object-fit: contain;
                                object-position: center;
                            }
                        }
                    }
                    .container {
                        @include size(false, $SMmax) {
                            margin-top: -50px;
                            margin-bottom: 30px;
                        }
                        button {
                            display: block;
                            margin: 20px 0px 20px auto;
                            padding: 5px 15px;
                            font-size: 14px;
                            color: #FFF;
                            text-transform: lowercase;
                            border: none;
                            border-radius: 30px;
                            background: rgb(65,164,192);
                            background: linear-gradient(133deg, rgba(65,164,192,1) 0%, rgba(24,115,152,1) 64%);
                        }
                    }
                    .anima {
                        position: relative;
                        height: 100vh;
                        @include size(false, $SMmax) {
                            margin-top: 0px;
                            height: 50vh;
                        }
                        img {
                            width: 100vw;
                            height: 100vh;
                            transform: inherit;
                            @include size(false, $SMmax) {
                                height: 50vh;
                            }
                        }
                    }
                    @include titulos;
                }
                &.empresa {
                    @include titulos;
                    .linha {
                        margin: auto 100px auto auto;
                        top: 30px;
                        z-index: 1;  
                        @include size(false, $SMmax) {
                            top: 10px;
                        }                      
                    }
                    h2,
                    .equipe {
                        margin-bottom: 20px;
                    }
                }
                &.equipe {
                    @include size(false, $MDmax) {
                        margin-top: 50px;
                    }
                    @include titulos;
                    .titulo {
                        font-size: 72px;
                        margin-bottom: 100px;
                        @include size(false, $MDmax) {
                            margin-bottom: 50px;
                            font-size: 56px;
                            line-height: 54px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                    .equipe {
                        .membro {
                            margin-bottom: 50px;
                            &:nth-child(even) {
                                text-align: left;
                                @include size(false, $SMmax) {
                                    text-align: center;
                                }
                                .info {
                                    order: 2;
                                }
                                .thumb {
                                    order: 1;
                                }
                            }
                            &:nth-child(odd) {
                                text-align: right;
                                @include size(false, $SMmax) {
                                    text-align: center;
                                }
                            }
                            @include size(false, $SMmax) {
                                .info {
                                    order: 2;
                                }
                                .thumb {
                                    order: 1;
                                }
                            }
                            .descricao {
                                .mais {
                                    overflow: hidden;
                                    max-height: 0px;
                                    -webkit-transition: 0.5s;
                                    -moz-transition: 0.5s;
                                    -ms-transition: 0.5s;
                                    -o-transition: 0.5s;
                                    transition: 0.5s;
                                    &.show {
                                        max-height: 1200px;
                                    }
                                }
                            }
                            .thumb {
                                position: relative;
                                img {
                                    position: sticky;
                                    top: 0px;
                                    max-width: 400px;
                                }
                            }
                            h2 {
                                font-size: 32px;
                                margin-bottom: 0px;
                                line-height: 32px;
                            }
                            h3 {
                                font-size: 16px;
                                font-weight: 100;
                                margin-top: 10px;
                                margin-bottom: 20px;
                            }
                            h4 {
                                font-size: 20px;
                                font-weight: 100;
                                margin-bottom: 20px;
                            }
                            p {
                                font-size: 16px;
                                text-align: justify;
                            }
                            button {
                                background-color: $azulEsc;
                                border: none;
                                padding: 5px 20px;
                                border-radius: 20px;
                                color: #FFF;
                                font-size: 12px;
                            }
                        }
                    }
                }
                &.clinica {
                    @include size(false, $MDmax) {
                        margin-top: 50px;
                    }
                    @include titulos;
                    h2 {
                        margin-bottom: 30px;
                    }
                    p {
                        font-size: 18px;
                        line-height: 28px;
                        text-align: justify;
                        margin-bottom: 30px;
                        @include size(false, $SMmax) {
                            margin-bottom: 20px;
                        }
                    }
                    .img {
                        shape-margin: 10px;
                        &1 {
                            shape-outside: url('assets/img/sobre1.png');
                            width: 350px;
                            float: right;
                        }
                        &2 {
                            shape-outside: url('assets/img/sobre2.png');
                            width: 250px;
                            float: left;
                        }
                        @include size(false, $SMmax) {
                            float: inherit;
                            display: block;
                            margin: 0 auto;
                            margin-bottom: 20px;
                        }
                    }
                }
                &.blogHome {
                    h2.type {
                        font-weight: 100;
                        font-size: 42px;
                        margin-bottom: 20px;
                        display: block;
                        line-height: 42px;
                        @include size(false, $MDmax) {
                            text-align: center;
                        }
                        strong {
                            display: block;
                        }
                    }
                    &.sing {
                        padding-top: 0px;
                    }
                    .itens {
                        .item {
                            .conteudo {
                                border-radius: 5px;
                                height: 100%;
                                overflow: hidden;
                                display: block;
                                -webkit-box-shadow:
                                    2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                                    -3px -3px 4px -1px #fff;
                                box-shadow:
                                    -3px -3px 4px -1px #fff,
                                    2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                                .img {
                                    background-size: cover;
                                    background-position: center;
                                    width: 100%;
                                    padding-top: 75%;
                                }
                                .h3 {
                                    min-height: 75px;
                                    line-height: 75px;
                                    text-align: center;
                                    margin-bottom: 15px;
                                    h3 {
                                        font-weight: 300;
                                        font-size: 20px;
                                        text-align: center;
                                        display: inline-block;
                                        vertical-align: middle;
                                        line-height: normal;
                                    }
                                }
                                p {
                                    font-size: 16px;
                                    text-align: justify;
                                    font-weight: 100;
                                    margin-bottom: 0px;
                                }
                                .detalhes {
                                    padding: 15px 30px;
                                }
                            }
                        }
                    }
                }
                &.single {
                    border-radius: 5px;
                    .full {
                        padding: 15px 0px;
                    }
                    .post {
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff;
                        box-shadow:
                            -3px -3px 4px -1px #fff,
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                        .destaque {
                            margin-bottom: 20px;
                            .topo {
                                background-size: cover;
                                background-position: center;
                                width: 100%;
                                padding: 15px 0px;
                                border-radius: 5px;
                                padding-top: 56.25%;
                            }
                        }
                        .conteudos {
                            padding-top: 30px;
                            padding-bottom: 30px;
                            h2 {
                                font-weight: 300;
                                font-size: 28px;
                            }
                            h3 {
                                font-weight: 300;
                                font-size: 16px;
                                margin-bottom: 50px;
                            }
                            .conteudo {
                                color: $azulEsc;
                                h1, h2, h3, h4, h5, h6 {
                                    margin: 40px 0px 20px;
                                    font-weight: 300;
                                }
                                h1 {
                                    font-size: 42px;
                                }
                                h2 {
                                    font-size: 38px;
                                }
                                h3 {
                                    font-size: 32px;
                                }
                                h4 {
                                    font-size: 28px;
                                }
                                h5 {

                                    font-size: 22px;
                                }
                                h6 {
                                    font-size: 18px;
                                }
                                p {
                                    text-align: justify;
                                    font-size: 16px;
                                }
                                a {
                                    font-weight: 700;
                                    color: $azulEsc;
                                    text-decoration: underline dotted;
                                    &:hover {
                                        text-decoration: underline solid;
                                    }
                                }
                                strong, b {
                                    font-weight: bold;
                                }
                                em, i {
                                    font-style: italic;
                                }
                                p {
                                    text-align: justify;
                                    font-weight: 100;
                                    margin-bottom: 20px;
                                }
                                ul,
                                ol {
                                    list-style-position: inside;
                                    padding: 0px;
                                    font-weight: 100;
                                }
                                img {
                                    margin-bottom: 20px;
                                    margin-top: 20px;
                                    max-width: 100%;
                                    &.aligncenter {
                                        max-width: 100%;
                                        position: relative;
                                        overflow: hidden;
                                        display: block;
                                        margin: 0 auto;
                                        @include size(false, $MDmax) {
                                            max-width: 100%;
                                            left: inherit;
                                        }
                                    }
                                    &.alignright {
                                        shape-margin: 40px;
                                        max-width: 450px;
                                        float: right;
                                        margin-left: 20px;
                                        @include size(false, $MDmax) {
                                            float: inherit !important;
                                            margin-left: 0px !important;
                                            margin-right: 0px !important;
                                            max-width: 100%;
                                        }
                                    }
                                    &.alignleft {
                                        shape-margin: 40px;
                                        max-width: 450px;
                                        float: left;
                                        margin-right: 20px;
                                        @include size(false, $MDmax) {
                                            float: inherit !important;
                                            margin-left: 0px !important;
                                            margin-right: 0px !important;
                                            max-width: 100%;
                                        }
                                    }
                                }
                            }                            
                        }
                    }
                }
                &.page {
                    border-radius: 5px;
                    @include size(false, $MDmax) {
                        margin-top: 50px;
                    }
                    .post {
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff;
                        box-shadow:
                            -3px -3px 4px -1px #fff,
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                        .destaque {
                            margin-bottom: 20px;
                            margin-top: 15px;
                            .attachment-topo {
                                width: 100%;
                                border-radius: 5px;
                            }
                        }
                        h2 {
                            font-weight: 300;
                            font-size: 28px;
                        }
                        h3 {
                            font-weight: 300;
                            font-size: 16px;
                            margin-bottom: 50px;
                        }
                        .conteudo {
                            color: $azulEsc;
                            h1, h2, h3, h4, h5, h6 {
                                margin: 40px 0px 20px;
                                font-weight: 300;
                            }
                            h1 {
                                font-size: 42px;
                            }
                            h2 {
                                font-size: 38px;
                            }
                            h3 {
                                font-size: 32px;
                            }
                            h4 {
                                font-size: 28px;
                            }
                            h5 {
                                font-size: 22px;
                            }
                            h6 {
                                font-size: 18px;
                            }
                            p {
                                text-align: justify;
                                font-size: 16px;
                            }
                            a {
                                font-weight: 700;
                                color: $azulEsc;
                                text-decoration: underline dotted;
                                &:hover {
                                    text-decoration: underline solid;
                                }
                            }
                            strong, b {
                                font-weight: bold;
                            }
                            em, i {
                                font-style: italic;
                            }
                            p {
                                text-align: justify;
                                font-weight: 100;
                                margin-bottom: 20px;
                            }
                            ul,
                            ol {
                                list-style-position: inside;
                                padding: 0px;
                                font-weight: 100;
                            }
                            img {
                                margin-bottom: 20px;
                                margin-top: 20px;
                                max-width: 100%;
                                &.aligncenter {
                                    max-width: 100%;
                                    position: relative;
                                    overflow: hidden;
                                    display: block;
                                    margin: 0 auto;
                                    @include size(false, $MDmax) {
                                        max-width: 100%;
                                        left: inherit;
                                    }
                                }
                                &.alignright {
                                    shape-margin: 40px;
                                    max-width: 450px;
                                    float: right;
                                    margin-left: 20px;
                                    @include size(false, $MDmax) {
                                        float: inherit !important;
                                        margin-left: 0px !important;
                                        margin-right: 0px !important;
                                        max-width: 100%;
                                    }
                                }
                                &.alignleft {
                                    shape-margin: 40px;
                                    max-width: 450px;
                                    float: left;
                                    margin-right: 20px;
                                    @include size(false, $MDmax) {
                                        float: inherit !important;
                                        margin-left: 0px !important;
                                        margin-right: 0px !important;
                                        max-width: 100%;
                                    }
                                }
                            }
                        }   
                    }
                }
                &.obrigado {
                    padding: 0px;
                    background-size: cover;
                    background-position: center;
                    background-attachment: fixed;
                    @include size(false, $MDmax) {
                        background-image: url() !important;
                        text-align: center;
                    }
                    &.ag {
                        background-image: url(assets/img/obgag.jpg);
                        @include size(false, $MDmax) {
                            .conteudo {
                                background-image: url(assets/img/obgag.jpg);
                            }
                        }
                    }
                    &.co {
                        background-image: url(assets/img/obgco.jpg);
                        @include size(false, $MDmax) {
                            .conteudo {
                                background-image: url(assets/img/obgco.jpg);
                            }
                        }
                    }
                    .row {
                        height: 100vh;
                        @include size(false, $MDmax) {
                            height: auto;
                        }
                        .conteudo {
                            margin: 100px 0px 50px;
                            * {
                                z-index: 10;
                                position: relative;
                            }
                            @include size(false, $XSmax) {
                                background-size: auto 150%;
                            }
                            @include size(false, $MDmax) {
                                background-size: cover;
                                background-position: center;
                                position: relative;
                                overflow: hidden;
                                border-radius: 10px;
                                background-color: #FFF;
                                padding: 50px 30px;
                                &:before {
                                    content: '';
                                    top: 0px;
                                    left: 0px;
                                    z-index: 0;
                                    display: block;
                                    position: absolute;
                                    background-color: rgba(255,255,255, 0.9);
                                    width: 100%;
                                    height: 100%;
                                    z-index: 1;
                                }
                            }
                            .load {
                                max-width: 100px;
                                margin-bottom: 20px;
                            }
                            h2 {
                                font-size: 22px;
                                margin-bottom: 20px;
                                font-weight: 100;
                            }
                            h3 {
                                font-size: 18px;
                                font-weight: 100;
                                margin-bottom: 20px;
                                padding-left: 10px;
                                border-left: 5px solid $azulCla;
                                margin-left: -15px;
                                @include size(false, $MDmax) {
                                    padding-left: 0px;
                                    border-left: none;
                                    margin-left: 0px;
                                }
                                strong {
                                    font-weight: 700;
                                    display: block;
                                    margin-bottom: 5px;
                                }
                                em {
                                    text-decoration: underline;
                                    font-weight: 700;
                                    font-style: normal;
                                }
                                a {
                                    text-decoration: underline;
                                }
                            }
                            h4 {
                                font-size: 16px;
                                margin-bottom: 20px;
                                font-weight: 100;
                            }
                            h5 {
                                font-size: 13px;
                                margin-bottom: 10px;
                                font-weight: 100;
                            }
                            ul {

                                font-size: 13px;
                                margin-bottom: 0px;
                                font-weight: 100;
                                list-style-type: none;
                                padding: 0px;
                                margin: 0px;
                                li {
                                    &:not(:last-child) {
                                        margin-bottom: 3px;
                                    }
                                    img {
                                        max-width: 14px;
                                        margin-right: 5px;
                                    }
                                    a {
                                        strong {
                                            font-weight: 700;
                                        }
                                        &:hover {
                                            text-decoration: underline dotted;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.blog {
                    @include size(false, $MDmax) {
                        margin-top: 50px;
                    }
                    .destaque {
                        margin-bottom: 20px;
                        .row {
                            background-size: cover;
                            background-position: center;
                            height: 350px;
                            padding: 15px 0px;
                            .conteudo {
                                border-radius: 15px;
                                background-color: $azulEsc;
                                color: #FFF;
                                padding: 15px;
                                h2 {
                                    font-size: 24px;
                                    font-weight: 300;
                                }
                                p {
                                    font-size: 16px;
                                    font-weight: 100;
                                }
                            }
                        }
                    }
                    .posts {
                        .post {
                            -webkit-box-shadow:
                                2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                                -3px -3px 4px -1px #fff;
                            box-shadow:
                                -3px -3px 4px -1px #fff,
                                2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                            padding: 15px 0px;
                            height: 33.333333333vh;
                            margin-bottom: 20px;
                            h2 {
                                font-size: 32px;
                                font-weight: 300;
                            }
                            p {
                                font-weight: 100;
                                font-size: 16px;
                                margin-bottom: 0px;
                            }
                            .img {
                                background-size: cover;
                                background-position: center;
                                width: 100%;
                                height: 100%;
                            }
                            &:nth-child(even) {
                                div {
                                    &:nth-child(1) {
                                        order: 2;
                                    }
                                    &:nth-child(2) {
                                        order: 1;
                                    }
                                }
                            }
                        }
                    }
                }
                &.ebooks {
                    @include size(false, $MDmax) {
                        margin-top: 50px;
                    }
                    .titulo {
                        @include titulos;
                        margin-bottom: 20px;
                        h2 {
                            text-transform: lowercase;
                        }
                    }
                    .posts {
                        .post {
                            -webkit-box-shadow:
                                2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                                -3px -3px 4px -1px #fff;
                            box-shadow:
                                -3px -3px 4px -1px #fff,
                                2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                            padding: 15px 0px;
                            margin-bottom: 80px;
                            @include size(false, $MDmax) {
                                margin-bottom: 20px;
                            }
                            .conteudo {
                                padding: 15px;
                                h2 {
                                    font-size: 32px;
                                    font-weight: 300;
                                    margin-bottom: 20px;
                                }
                                p {
                                    font-weight: 100;
                                    font-size: 16px;
                                    margin-bottom: 20px;
                                }
                                button {
                                    display: block;
                                    margin: auto 0px auto auto;
                                    padding: 5px 15px;
                                    font-size: 14px;
                                    color: #FFF;
                                    text-transform: lowercase;
                                    border: none;
                                    border-radius: 30px;
                                    background: rgb(65,164,192);
                                    background: linear-gradient(133deg, rgba(65,164,192,1) 0%, rgba(24,115,152,1) 64%);
                                }
                            }
                            .img {
                                background-size: cover;
                                background-position: center;
                                width: 100%;
                                height: 100%;
                                -webkit-transform: translate(-45px, -45px);
                                -moz-transform: translate(-45px, -45px);
                                -ms-transform: translate(-45px, -45px);
                                -o-transform: translate(-45px, -45px);
                                transform: translate(-45px, -45px);
                                -webkit-box-shadow: 10px 10px 15px 10px rgba(8,76,104,0.1);
                                -moz-box-shadow: 10px 10px 15px 10px rgba(8,76,104,0.1);
                                box-shadow: 10px 10px 15px 10px rgba(8,76,104,0.1);
                                @include size(false, $MDmax) {
                                    -webkit-transform: inherit;
                                    -moz-transform: inherit;
                                    -ms-transform: inherit;
                                    -o-transform: inherit;
                                    transform: inherit;
                                }
                            }
                            @include size($LGmin, false) {
                                &:nth-child(even) {
                                    .img {
                                        -webkit-transform: translate(-45px, -45px);
                                        -moz-transform: translate(-45px, -45px);
                                        -ms-transform: translate(-45px, -45px);
                                        -o-transform: translate(-45px, -45px);
                                        transform: translate(45px, -45px);
                                        -webkit-box-shadow: -10px 10px 15px 10px rgba(8,76,104,0.1);
                                        -moz-box-shadow: -10px 10px 15px 10px rgba(8,76,104,0.1);
                                        box-shadow: -10px 10px 15px 10px rgba(8,76,104,0.1);
                                        @include size(false, $MDmax) {
                                            -webkit-transform: inherit;
                                            -moz-transform: inherit;
                                            -ms-transform: inherit;
                                            -o-transform: inherit;
                                            transform: inherit;
                                        }
                                    }
                                    .col-12 {
                                        &:nth-child(1) {
                                            order: 2;
                                        }
                                        &:nth-child(2) {
                                            order: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.ebooksInterna {
                    margin-top: 130px;
                    @include size(false, $MDmax) {
                        margin-top: 50px;
                    }
                    .titulo {
                        @include titulos;
                        margin-bottom: 20px;
                        h2 {
                            text-transform: lowercase;
                        }
                    }
                    .ebook {
                        .content {
                            -webkit-box-shadow:
                                2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                                -3px -3px 4px -1px #fff;
                            box-shadow:
                                -3px -3px 4px -1px #fff,
                                2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                            padding: 15px 0px;
                            margin-bottom: 80px;
                            @include size(false, $MDmax) {
                                margin-bottom: 20px;
                            }
                            h2, h3, h4, h5, h6 {
                                font-weight: 300;
                                margin-bottom: 20px;
                            }
                            h2 {
                                font-size: 28px;
                                font-weight: 300;
                                margin-bottom: 20px;
                            }
                            h3 {
                                font-size: 26px;
                                font-weight: 300;
                                margin-bottom: 20px;
                            }
                            h4 {
                                font-size: 24px;
                                font-weight: 300;
                                margin-bottom: 20px;
                            }
                            h5 {
                                font-size: 22px;
                                font-weight: 300;
                                margin-bottom: 20px;
                            }
                            h6 {
                                font-size: 20px;
                                font-weight: 300;
                                margin-bottom: 20px;
                            }
                            p {
                                text-align: justify;
                                font-weight: 100;
                                font-size: 14px;
                                margin-bottom: 20px;
                            }
                            ul, ol {
                                list-style-position: inside;
                                margin: 0px;
                                padding: 0px;
                                text-align: justify;
                                font-weight: 100;
                                font-size: 14px;
                                margin-bottom: 20px;
                            }
                            .conteudo {
                                padding: 15px;
                                button {
                                    display: block;
                                    margin: auto 0px auto auto;
                                    padding: 5px 15px;
                                    font-size: 14px;
                                    color: #FFF;
                                    text-transform: lowercase;
                                    border: none;
                                    border-radius: 30px;
                                    background: rgb(65,164,192);
                                    background: linear-gradient(133deg, rgba(65,164,192,1) 0%, rgba(24,115,152,1) 64%);
                                }
                            }
                            .img {
                                background-size: cover;
                                background-position: center;
                                width: 100%;
                                height: 100%;
                                -webkit-transform: translate(-45px, -45px);
                                -moz-transform: translate(-45px, -45px);
                                -ms-transform: translate(-45px, -45px);
                                -o-transform: translate(-45px, -45px);
                                transform: translate(-45px, -45px);
                                -webkit-box-shadow: 10px 10px 15px 10px rgba(8,76,104,0.1);
                                -moz-box-shadow: 10px 10px 15px 10px rgba(8,76,104,0.1);
                                box-shadow: 10px 10px 15px 10px rgba(8,76,104,0.1);
                                @include size(false, $MDmax) {
                                    -webkit-transform: inherit;
                                    -moz-transform: inherit;
                                    -ms-transform: inherit;
                                    -o-transform: inherit;
                                    transform: inherit;
                                }
                            }
                            .obg {
                                button {
                                    display: block;
                                    margin: 20px 0px 20px auto;
                                    padding: 5px 15px;
                                    font-size: 14px;
                                    color: #FFF;
                                    text-transform: lowercase;
                                    border: none;
                                    border-radius: 30px;
                                    background: rgb(65,164,192);
                                    background: linear-gradient(133deg, rgba(65,164,192,1) 0%, rgba(24,115,152,1) 64%);
                                }

                            }
                            .form {
                                @include form;
                                #mauticform_ebookteste_qual_o_dia_da_semana_de_p,
                                #mauticform_ebookteste_qual_o_periodo_de_prefere {
                                    display: none;
                                    &.show {
                                        display: block;
                                    }
                                }
                                form {
                                    margin-bottom: 20px;
                                    input,
                                    select {
                                        padding: 10px 20px !important;
                                        font-size: 14px !important;
                                    }
                                    label {
                                        font-size: 14px;
                                        font-weight: 100;
                                        vertical-align: middle;
                                    }
                                }
                            }
                            @include size($LGmin, false) {
                                &:nth-child(even) {
                                    .img {
                                        -webkit-transform: translate(-45px, -45px);
                                        -moz-transform: translate(-45px, -45px);
                                        -ms-transform: translate(-45px, -45px);
                                        -o-transform: translate(-45px, -45px);
                                        transform: translate(45px, -45px);
                                        -webkit-box-shadow: -10px 10px 15px 10px rgba(8,76,104,0.1);
                                        -moz-box-shadow: -10px 10px 15px 10px rgba(8,76,104,0.1);
                                        box-shadow: -10px 10px 15px 10px rgba(8,76,104,0.1);
                                        @include size(false, $MDmax) {
                                            -webkit-transform: inherit;
                                            -moz-transform: inherit;
                                            -ms-transform: inherit;
                                            -o-transform: inherit;
                                            transform: inherit;
                                        }
                                    }
                                    .col-12 {
                                        &:nth-child(1) {
                                            order: 2;
                                        }
                                        &:nth-child(2) {
                                            order: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .posts {
                        .post {
                            -webkit-box-shadow:
                                2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                                -3px -3px 4px -1px #fff;
                            box-shadow:
                                -3px -3px 4px -1px #fff,
                                2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                            padding: 15px 0px;
                            margin-bottom: 80px;
                            .conteudo {
                                padding: 15px;
                                h2 {
                                    font-size: 32px;
                                    font-weight: 300;
                                    margin-bottom: 20px;
                                }
                                p {
                                    font-weight: 100;
                                    font-size: 16px;
                                    margin-bottom: 20px;
                                }
                                button {
                                    display: block;
                                    margin: auto 0px auto auto;
                                    padding: 5px 15px;
                                    font-size: 14px;
                                    color: #FFF;
                                    text-transform: lowercase;
                                    border: none;
                                    border-radius: 30px;
                                    background: rgb(65,164,192);
                                    background: linear-gradient(133deg, rgba(65,164,192,1) 0%, rgba(24,115,152,1) 64%);
                                }
                            }
                            .img {
                                background-size: cover;
                                background-position: center;
                                width: 100%;
                                height: 100%;
                                -webkit-transform: translate(-45px, -45px);
                                -moz-transform: translate(-45px, -45px);
                                -ms-transform: translate(-45px, -45px);
                                -o-transform: translate(-45px, -45px);
                                transform: translate(45px, -45px);
                                -webkit-box-shadow: -10px 10px 15px 10px rgba(8,76,104,0.1);
                                -moz-box-shadow: -10px 10px 15px 10px rgba(8,76,104,0.1);
                                box-shadow: -10px 10px 15px 10px rgba(8,76,104,0.1);
                                @include size(false, $MDmax) {
                                    -webkit-transform: inherit;
                                    -moz-transform: inherit;
                                    -ms-transform: inherit;
                                    -o-transform: inherit;
                                    transform: inherit;
                                }
                            }
                        }
                    }
                }
                &.search {
                    @include size(false, $MDmax) {
                        margin-top: 50px;
                    }
                    @include titulos;
                    h2.titulo {
                        text-align: center;
                        margin-bottom: 50px;
                    }
                    h3.titulo {
                        margin-bottom: 50px;
                        margin-top: -50px;
                        text-align: center;
                    }
                    .row {
                        min-height: 200px;
                    }
                    form {
                        overflow: hidden;
                        width: 100%;
                        height: 50px;
                        border-radius: 50px;
                        margin-bottom: 100px;
                        background: rgba(255,255,255,0.9);
                        background: linear-gradient(135deg, rgba(255,255,255,0.9) 0%, rgba(244,245,245,0.9) 100%);
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff,
                            3px 3px 12px 0px rgba(11,111,152,0.1);
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff,
                            3px 3px 12px 0px rgba(11,111,152,0.1);
                        box-shadow:
                            -3px -3px 4px -1px #fff,
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            3px 3px 12px 0px rgba(11,111,152,0.1);
                            position: relative;
                            z-index: 10000000000000;
                            input {
                                position: absolute;
                                border: none;
                                &[type=text] {
                                    width: 100%;
                                    height: 100%;
                                    padding: 10px 9% 10px 3%;
                                    font-size: 18px;
                                    font-weight: 300;
                                    color: $azulEsc;
                                }
                                &[type=image] {
                                    max-height: 50%;
                                    right: 3%;
                                    top: 50%;
                                    -webkit-transform: translateY(-50%);
                                    -moz-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                    -o-transform: translateY(-50%);
                                    transform: translateY(-50%);
                                }
                            }
                    }                    
                    .item {
                        margin-bottom: 15px;
                        border-radius: 5px;
                        overflow: hidden;
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff;
                        box-shadow:
                            -3px -3px 4px -1px #fff,
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                        .img {
                            background-size: cover;
                            background-position: center;
                            width: 100%;
                            height: 200px;
                            margin-left: -15px;
                            @include size(false, $MDmax) {
                                margin-left: inherit;
                            }
                        }
                        h2 {
                            font-weight: 300;
                            font-size: 24px;
                            line-height: 22px;
                            margin-bottom: 10px;
                            @include size(false, $MDmax) {
                                margin-bottom: 20px;
                            }
                        }
                        h3 {
                            font-weight: 100;
                            font-size: 16px;
                            margin-bottom: 10px;
                            @include size(false, $MDmax) {
                                margin-top: 20px;
                                margin-bottom: 20px;
                                text-align: center;
                            }
                        }
                        p {
                            font-size: 16px;
                            text-align: justify;
                            font-weight: 100;
                            margin-bottom: 0px;
                            @include size(false, $MDmax) {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
                &.page404 {
                    @include size(false, $MDmax) {
                        margin-top: 50px;
                    }
                    @include titulos;
                    h2.titulo {
                        text-align: center;
                        margin-bottom: 50px;
                    }
                    h3.titulo {
                        margin-bottom: 50px;
                        margin-top: -50px;
                        text-align: center;
                    }
                    .row {
                        min-height: 200px;
                    }
                    form {
                        overflow: hidden;
                        width: 100%;
                        height: 50px;
                        border-radius: 50px;
                        margin-bottom: 100px;
                        background: rgba(255,255,255,0.9);
                        background: linear-gradient(135deg, rgba(255,255,255,0.9) 0%, rgba(244,245,245,0.9) 100%);
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff,
                            3px 3px 12px 0px rgba(11,111,152,0.1);
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff,
                            3px 3px 12px 0px rgba(11,111,152,0.1);
                        box-shadow:
                            -3px -3px 4px -1px #fff,
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            3px 3px 12px 0px rgba(11,111,152,0.1);
                            position: relative;
                            z-index: 10000000000000;
                            input {
                                position: absolute;
                                border: none;
                                &[type=text] {
                                    width: 100%;
                                    height: 100%;
                                    padding: 10px 9% 10px 3%;
                                    font-size: 18px;
                                    font-weight: 300;
                                    color: $azulEsc;
                                }
                                &[type=image] {
                                    max-height: 50%;
                                    right: 3%;
                                    top: 50%;
                                    -webkit-transform: translateY(-50%);
                                    -moz-transform: translateY(-50%);
                                    -ms-transform: translateY(-50%);
                                    -o-transform: translateY(-50%);
                                    transform: translateY(-50%);
                                }
                            }
                    }                    
                    .item {
                        margin-bottom: 15px;
                        border-radius: 5px;
                        overflow: hidden;
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff;
                        box-shadow:
                            -3px -3px 4px -1px #fff,
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                        .img {
                            background-size: cover;
                            background-position: center;
                            width: 100%;
                            height: 200px;
                            margin-left: -15px;
                            @include size(false, $MDmax) {
                                margin-left: inherit;
                            }
                        }
                        h2 {
                            font-weight: 300;
                            font-size: 24px;
                            line-height: 22px;
                            margin-bottom: 10px;
                            @include size(false, $MDmax) {
                                margin-bottom: 20px;
                            }
                        }
                        h3 {
                            font-weight: 100;
                            font-size: 16px;
                            margin-bottom: 10px;
                            @include size(false, $MDmax) {
                                margin-top: 20px;
                                margin-bottom: 20px;
                                text-align: center;
                            }
                        }
                        p {
                            font-size: 16px;
                            text-align: justify;
                            font-weight: 100;
                            margin-bottom: 0px;
                            @include size(false, $MDmax) {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
                &.index {
                    @include titulos;
                    h2.titulo {
                        text-align: center;
                        margin-bottom: 50px;
                    }
                    .item {
                        margin-bottom: 15px;
                        border-radius: 5px;
                        overflow: hidden;
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff;
                        box-shadow:
                            -3px -3px 4px -1px #fff,
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                        .img {
                            background-size: cover;
                            background-position: center;
                            width: 100%;
                            height: 200px;
                            margin-left: -15px;
                        }
                        h2 {
                            font-weight: 300;
                            font-size: 24px;
                            margin-top: -10px;
                            margin-bottom: 0px;
                        }
                        h3 {
                            font-weight: 100;
                            font-size: 16px;
                            margin-bottom: 0px;
                        }
                        p {
                            font-size: 16px;
                            text-align: justify;
                            font-weight: 100;
                            margin-bottom: 0px;
                        }
                        &.big {
                            height: 150px;
                            h2 {
                                font-size: 42px;
                                font-weight: 100;
                                margin-bottom: 0px;
                            }
                        }
                    }
                }
                &.ebooksHome {
                    h2.type {
                        font-weight: 100;
                        font-size: 42px;
                        display: block;
                        margin-bottom: 20px;
                    }
                    .item {
                        margin-bottom: 15px !important;
                        border-radius: 5px;
                        overflow: hidden;
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff;
                        box-shadow:
                            -3px -3px 4px -1px #fff,
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2);
                            @include size($MDmin, false) {
                                margin: 0px;
                            }
                        .img {
                            background-size: cover;
                            background-position: center;
                            width: 100%;
                            height: 200px;
                            margin-left: -15px;
                            @include size(false, $SMmax) {
                                margin-left: 0px;
                            }
                        }
                        h2 {
                            font-weight: 100;
                            font-size: 16px;
                        }
                        h3 {
                            font-weight: 300;
                            font-size: 22px;
                            margin-bottom: 10px;
                        }
                        p {
                            font-size: 16px;
                            text-align: justify;
                            font-weight: 100;
                            margin-bottom: 0px;
                        }
                        .detalhes {
                            padding: 15px;
                            margin-left: -15px;
                        }
                    }
                }
                &.agendamentoHome {
                    @include titulos;
                    h2 {
                        margin-bottom: 20px;
                    }
                    img {
                        @include size(false, $MDmax) {
                            margin-bottom: 30px;
                        }
                    }
                    p {
                        margin-top: 20px;
                        @include size(false, $MDmax) {
                            text-align: center;
                        }
                    }
                    @include form;
                }
                &.agendemendo {
                    @include titulos;
                    h2 {
                        margin-bottom: 20px;
                    }
                    p {
                        margin-top: 20px;
                    }
                    @include form;
                }
                &.contato {
                    @include size(false, $MDmax) {
                        .container {
                            margin-top: 50px;
                        }
                    }
                    .contatoform {
                        @include titulos;
                        padding: 30px;
                        border-radius: 10px;
                        background: rgba(255,255,255,0.9);
                        background: linear-gradient(135deg, rgba(255,255,255,0.9) 0%, rgba(244,245,245,0.9) 100%);
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff,
                            3px 3px 12px 0px rgba(11,111,152,0.1);
                        -webkit-box-shadow:
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            -3px -3px 4px -1px #fff,
                            3px 3px 12px 0px rgba(11,111,152,0.1);
                        box-shadow:
                            -3px -3px 4px -1px #fff,
                            2px 2px 3px -1px rgba(11, 111, 152, 0.2),
                            3px 3px 12px 0px rgba(11,111,152,0.1);
                        h2 {
                            margin-bottom: 30px;
                            font-size: 60px;
                        }
                        .item {
                            margin-bottom: 30px;
                            p {
                                margin-bottom: 0px;
                                font-size: 16px;
                                display: inline-block;
                                vertical-align: top;
                            }
                            img {
                                display: inline-block;
                                max-width: 20px;
                                margin-right: 10px;
                                vertical-align: top;
                            }
                        }
                        @include form;
                    }
                }
            }
        }
    }
    footer#colophon {
        padding: 50px 0px;
        background-color: #E9F1F1;
        .site-info {
            .logo {
                max-width: 250px;
                width: 100%;
                margin-bottom: 30px;
            }
            span {
                display: block;
                font-weight: 100;
                @include transition(0.4s);
                &:hover {
                    text-decoration: underline dotted;
                }
                &.endereco {
                    margin: 20px 0px 50px;
                }
            }
        }
        .social {
            text-align: right;
            @include size(false, $MDmax) {
                text-align: left;
                margin-bottom: 50px;
            }
            img {
                max-width: 40px;
                margin-left: 10px;
                @include transition(0.4s);
                @include size(false, $MDmax) {
                    margin-left: 0px;
                    margin-right: 10px;
                }
                &:hover {
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
        .creditos {
            span {
                text-align: justify;
                display: block;
                font-size: 10px;
                line-height: 15px;
                font-weight: 100;
            }
        }
    }
}